# Environment Variables untuk Job Marketplace LitForge Testnet
# Salin file ini menjadi .env dan isi nilainya

# Private key wallet untuk deploy smart contract (Hardhat)
PRIVATE_KEY=your_private_key_here

# Contract address (frontend Vite, prefix VITE_)
# Default address jika tidak di-set
VITE_CONTRACT_ADDRESS=0x26535Da2049484FFc858c6C4bE47C2095a32975d
